<h1>The Menu</h1>

<h2>Starters</h2>
<ul>
{{#each item in starters}}
  <li><a href="#" {{action 'addItem' item}}>{{item.name}}</a>, {{item.description}}, {{item.price}}</li>
{{/each}}
</ul>

<h2>Mains</h2>
<ul>
{{#each item in mains}}
  <li><a href="#" {{action 'addItem' item}}>{{item.name}}</a>, {{item.description}}, {{item.price}}</li>
{{/each}}
</ul>

<h2>Desserts</h2>
<ul>
{{#each item in desserts}}
  <li><a href="#" {{action 'addItem' item}}>{{item.name}}</a>, {{item.description}}, {{item.price}}</li>
{{/each}}
</ul>

<h2>Beverages</h2>
<ul>
{{#each item in beverages}}
  <li><a href="#" {{action 'addItem' item}}>{{item.name}}</a>, {{item.description}}, {{item.price}}</li>
{{/each}}
</ul>

<h1>Basket</h1>
<ul>
{{#each item in basket}}
  <li>{{item.name}} x {{item.count}}</li>
{{/each}}
</ul>
<h2>Sub total</h2>
<h3>£{{basketTotal}}</h3>

<a href="#" {{action 'sendOrder'}}>Send Order</a>

<h1>Everything you've ordered</h1>
{{order-tracker tableNumber=tableNumber}}

{{outlet}}
